{% extends 'base.html' %}

{% block content %}
<h1>Продукция</h1>
<div class="ft">
	<img src="photos/1.jpg">
	<a href="#"><h3 style="font-family: cursive;">SL-A700 2</h3>
	(Скоро в продаже)</a>
</div>
<div class="ft">
	<img src="2.jpg">
	<a href="#"><h3 style="font-family: cursive;">SL-A601</h3>
	(Скоро в продаже)</a>
</div>
<div class="ft">
	<img src="3.jpg">
	<a href="#"><h3 style="font-family: cursive;">SL-A501</h3>
	(Скоро в продаже)</a>
</div>
<div class="ft">
	<img src="4.jpg">
	<a href="#"><h3 style="font-family: cursive;">SL-A307</h3>
	(Скоро в продаже)</a>
</div>
<div class="ft">
	<img src="5.jpg">
	<a href="#"><h3 style="font-family: cursive;">SL-A305</h3>
	(Скоро в продаже)</a>
</div>
<div class="ft">
	<img src="6.jpg">
	<a href="#"><h3 style="font-family: cursive;">SL-A150</h3>
	(5 000 000 сум)</a>
</div>
<div class="ft">
	<img src="7.jpg">
	<a href="#"><h3 style="font-family: cursive;">SL-A158</h3>
	(11 000 000 сум)</a>
</div>
<div class="ft">
	<img src="8.jpg">
	<a href="#"><h3 style="font-family: cursive;">SL-A192</h3>
	(14 000 000 сум)</a>
</div>
<div class="ft">
	<img src="9.jpg">
	<a href="#"><h3 style="font-family: cursive;">SL-A300</h3>
	(15 500 000 сум)</a>
</div>
<div class="ft">
	<img src="10.jpg">
	<a href="#"><h3 style="font-family: cursive;">SL-A301</h3>
	(16 000 000 сум)</a>
</div>
<div class="ft">
	<img src="11.jpg">
	<a href="#"><h3 style="font-family: cursive;">SL-A389</h3>
	(18 000 000 сум)</a>
</div>
<div class="ft">
	<img src="12.jpg">
	<a href="#"><h3 style="font-family: cursive;">SL-A300 вендинг</h3>
	(19 000 000 сум)</a>
</div>
<div class="ft">
	<img src="13.jpg">
	<a href="#"><h3 style="font-family: cursive;">SL-A389-2</h3>
	(19 000 000 сум )</a>
</div>
<div class="ft">
	<img src="14.jpg">
	<a href="#"><h3 style="font-family: cursive;">SL-A33</h3>
	(24 000 000 сум)</a>
</div>
<div class="ft">
	<img src="15.jpg">
	<a href="#"><h3 style="font-family: cursive;">SL-A80</h3>
	(25 000 000 сум)</a>
</div>
<div class="ft">
	<img src="16.jpg">
	<a href="#"><h3 style="font-family: cursive;">SL-A600</h3>
	(30 000 000 сум)</a>
</div>
<div class="ft">
	<img src="17.jpg">
	<a href="#"><h3 style="font-family: cursive;">SL-A701</h3>
	(31 000 000 сум)</a>
</div>
<div class="ft">
	<img src="18.jpg">
	<a href="#"><h3 style="font-family: cursive;">SL-A100</h3>
	(33 000 000 сум)</a>
</div>
{% endblock content %}